<!doctype html>
<html>
<head>
  <link href="https://s3.amazonaws.com/ga-patterns/css/ga-patterns-latest.min.css" rel="stylesheet" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>Bloomberg</title>
  <meta charset="utf-8">
  <style>
    pre code{
      display:block;
    }
  </style>
</head>
<body>
<header role="banner" class="masthead">
  <a href="#/" class="masthead-title">General Assembly</a>
</header>
<div class='g-row main-content content-area'>
<div class='g-column'>
{{ content }}
</div>
</div>
</body>
</html>
